@import 'bulma/bulma';

.media {
  align-items: center;
}

.columns {
  margin: 20px 0;
}

.more-info {
  text-align: center;
}

.album {
  opacity: 1;
  animation: showAlbum 1.5s ease-in;
}

.album-title {
  text-align: center;
}

.loading {
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &-bar {
  display: inline-block;
  margin: 2px;
  width: 6px;
  height: 20px;
  background-color: #000;
  animation: loading 1s ease infinite;

    &:first-child {
    animation-delay: 0s;  
    }
    
    &:nth-child(2) {
      animation-delay: 0.25s;
    }

    &:nth-child(3) {
      animation-delay: 0.5s;
    }

    &:nth-child(4) {
      animation-delay: 0.75s;
    }
  } 
}


@keyframes showAlbum {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    height: 20px;
  }

  25% {
    height: 40px;
  }

  50% {
    height: 30px;
  }

  75% {
    height: 45px;
  }

  100% {
    height: 20px;
  }
}

